@model IEnumerable<E_Commerce.Core.Model.Entity.Category>
@using System.Text.RegularExpressions;

<ul class="category-list">
    @{
        foreach (var item in Model)
        {
            <li class="category-nav-item">
                <a class="nav-link" href="/Category/@Regex.Replace(item.Name.ToLower(), @"[^a-z0-9]", "-")/@item.ID">
                    <div class="dropdown-item">
                        <div class="dropdown-list-item">
                            <span class="dropdown-img"> </span>
                            <span class="dropdown-text">
                                @item.Name
                            </span>
                        </div>
                        <div class="drop-down-list-icon"></div>
                    </div>
                </a>
            </li>
        }
    }
</ul>
