@model E_Commerce.Core.Model.Entity.Product
@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>


        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="@Model.ImageUrl" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@Model.Name</h5>
                    <p class="card-text">@Model.Description</p>
                    <p class="card-text"> <b>  @Model.Price.ToString("$ ##,##") </b></p>

                    <a href="#" class="btn btn-info">Add To Cart</a>
                </div>
            </div>
        </div>
